grails-app/conf/DataSource.groovy.old
lib/aopalliance-1.0.jar
lib/batik-awt-util-1.7.jar
lib/batik-svggen-1.7.jar
lib/batik-util-1.7.jar
lib/coretools-0.7.1-SNAPSHOT.jar
lib/coretools-graphics-0.7.1-SNAPSHOT.jar
lib/coretools-misc-0.7.1-SNAPSHOT.jar
lib/coretools-model-0.7.1-SNAPSHOT.jar
lib/coretools-scene-0.7.1-SNAPSHOT.jar
lib/coretools-ui-0.7.1-SNAPSHOT.jar
lib/dis-base-0.7.1-SNAPSHOT.jar
lib/dis-ui-0.7.1-SNAPSHOT.jar
lib/geology-base-0.7.1-SNAPSHOT.jar
lib/geology-ui-0.7.1-SNAPSHOT.jar
lib/glazedlists_java15-1.7.0.jar
lib/google-collections-1.0-rc2.jar
lib/groovy-all-1.6.4.jar
lib/guice-2.0.jar
lib/guice-multibindings-2.0.jar
lib/itext-2.1.7.jar
lib/jxl-2.6.3.jar
lib/lithologies.jar
lib/log4j-1.2.15.jar
lib/miglayout-3.7.jar
lib/mongo.jar
lib/slf4j-api-1.5.8.jar
lib/slf4j-log4j12-1.5.8.jar