body {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 12px;
	cursor: default;
	background-color: #FFFFFF
}
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
html {
	height: 100%;
	margin-bottom: 1px;
}
#container {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #FFFFFF;
}
#header {
	width: 100%;
	padding-top: 1em;
	border-bottom: 1px solid #CDCDCD;
}
#footer {
	width: 100%;
	padding-top: 1em;
	border-top: 1px solid #CDCDCD;
}
#content {
	width: 100%;
	padding: 15px;
}
h1 {
	font-size: 28px;
	color: #cc0000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
}
h2 {
	font-size: 15px;
	color: gray;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
}
h3 {
	color: #cc0000;
	font-size: 15px;
	text-align: left;
	font-weight: bold;
	padding: 5px;
	margin-top: 5px;
}
p {
	color: black;
	line-height: 20px;
	padding: 5px;
}
a {
	color: #cc0000;
	text-decoration: none;
}
a:hover {
	color: #cc0000;
	text-decoration: underline;
}
.providedBy {
	color: gray;
	float: right;
	font-size: 100%;
	margin-top: 5px;
}
.logoText {
	font-weight: bold;
	color: #cc0000;
}
#splash {
	width: 80%;
	margin: 0 auto;
	padding: 2em;
	font-size: 16pt; color: #666666; line-height: 1.5em;
	text-align: center;
}
