body {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 12px;
	cursor: default;
	background-color: #FFFFFF
}
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
html {
	height: 100%;
	margin-bottom: 1px;
}
#container {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #FFFFFF;
}
#header {
	width: 100%;
	padding-top: 1em;
	border-bottom: 1px solid #CDCDCD;
}
#header img, #footer img {
	border: none;
}
#tagline {
	float: right;
	font-style: italic;
	font-size: 16pt;
	color: #666666;
	line-height: 1.5em;
}
#footer {
	width: 100%;
	padding-top: 1em;
	border-top: 1px solid #CDCDCD;
	clear: both;
	height: 1px;
}
#content {
	width: 100%;
}
#leftSidebar {
	float: left;
	width: 260px;
	margin: 5px;
}
ul {
	margin-left: 15px;
}
li {
	list-style-type: square;
	margin-left: 5px;
}
#rightNote {
	float: right;
	width: 280px;
	border: 1px solid #CDCDCD;
	background-color: #EEEEEE;
	padding: 5px;
	margin: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#rightNote td {
	font-size: 90%;
	padding-left: 5px;
}
#main {
	border-left: 1px solid #CDCDCD;
	padding-left: 15px;
	margin: 5px 5px 5px 260px;
	clear:top;
}
h1 {
	font-size: 28px;
	color: #C00;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
}
h2 {
	font-size: 15px;
	color: gray;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
}
h3 {
	color: #C00;
	font-size: 15px;
	text-align: left;
	font-weight: bold;
}
p {
	color: black;
	line-height: 20px;
	padding: 5px;
}
a {
	color: #C00;
	text-decoration: none;
}
a:hover {
	color: #C00;
	text-decoration: underline;
}
.providedBy {
	color: gray;
	float: right;
	font-size: 100%;
	margin-top: 5px;
}
.logoText {
	font-weight: bold;
	color: #C00;
}
#featured {
	margin: 1em auto;
	border: none;
}
#splash {
	width: 80%;
	margin: 1em auto;
	padding: 2em;
	font-size: 16pt;
	color: #666666;
	line-height: 1.5em;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #EEEEEE;
}
#q {
	border: 1px solid #9A9A9A;
	width: 250px;
	margin-right: 1em;
	padding: 0.25em;
}
.active {
	font-weight: bold;
}
.question {
	border-bottom: 2px solid #C00;
	padding: 0.5em;
	margin-top: 2em;
}
.topLink {
	float: right;
	margin-top: -15px;
}