.track {
	margin: 5px;
	border: 3px solid #CC0000;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	height: 50px;
}
.overlay {
	background: url('../images/overlay.png') repeat-x top left;
	z-index: 10;
}
table {
	width: 100%;
	clear: both;
}

.left {
	vertical-align: middle;
	text-align: left;
	width: 40px;
}

.center {
	vertical-align: middle;
}

.right {
	vertical-align: middle;
	text-align: right;
	width: 40px;
}

#panRight, #panLeft {
	font-size: 36pt;
}

#panRight:hover, #panLeft:hover {
	font-size: 48pt;
	text-decoration: none;
}

.tools {
	float: right;
	margin: 15px;
	font-size: 120%;
}

#jumpField {
	width: 60px;
	border: 1px solid #CDCDCD;
}
#jumpButton {
	padding-left: 5px;
	padding-right: 5px;
}
