.track {
	margin: 5px;
	padding: 3px;
	border: 3px solid #CC0000;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	overflow: hidden;
	height: 50px;
}

.track .tiles {
	position: relative;
}

.track img {
	position: absolute;
	overflow: hidden;
}
#jumpField {
	border: 1px solid #CDCDCD;
}
#jumpButton {
	padding: 2px;
}