.track {
	margin-top: 5px;
	border: 3px solid #CC0000;
	height: 50px;
}
.overlay {
	background: url('../images/overlay.png') repeat-x top left;
	z-index: 10;
}
.left {
	vertical-align: middle;
	text-align: left;
	width: 40px;
}
.center {
	vertical-align: middle;
}
.right {
	vertical-align: middle;
	text-align: right;
	width: 40px;
}
#viewer {
	width: 100%;
	clear: both;
}
#panRight, #panLeft {
	font-size: 36pt;
}
#panRight:hover, #panLeft:hover {
	font-size: 48pt;
	text-decoration: none;
}
#tools {
	float: right;
	margin: 15px;
	font-size: 120%;
}
#tools form {
	display: inline;
	margin-right: 5px;
}
#tools img {
	border: none;
}
.tool {
	border-left: 1px solid #CC0000;
	padding-left: 8px;
	margin-right: 5px;
	color: #CC0000;
	text-decoration: underline;
}
#q {
	border: 1px solid #9A9A9A;
	width: 250px;
	margin-right: 1em;
	padding: 0.25em;
}
#coreviewerSettings {
	width: 220px;
	border: 3px solid #9A9A9A;
	padding: 0.5em;
	position: absolute;
	background: white;
	opacity: 100%;
	z-index: 100;
	display: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.trackSettings {
	margin: 0.25em;
}
.trackSettings label {
	margin-left: 0.5em;
}
.seriesSettings {
	margin-left: 1em;
}
.seriesSettings input, .seriesSettings label {
	margin-left: 0.5em;
}